{% extends "list.html" %}


{% block columns %}
<tr>
    <th scope="col" style="width: 5%">Id</th>
    <th scope="col" style="width: 80%">Nombre</th>
    <th scope="col" style="width: 5%;">Opciones</th>
</tr>
{% endblock %}

{% block rows %}
{% for category in object_list  %}
<tr>
    <th scope="row">{{category.id}}</th>
    <td>{{category.name}}</td>
    <td>
        <button type="button" class="btn btn-success btn-xs">
            <i class="far fa-edit"></i>
        </button>
        <button type="button" class="btn btn-danger btn-xs">
            <i class="far fa-trash-alt"></i>
        </button>
    </td>
</tr>
{% endfor %}
{% endblock %}

