{% extends "body.html" %}
{% load static %}
{% block head %}
    <link rel="stylesheet" type="text/css" href='{% static "lib/DataTables/datatables.min.css" %}'>
    <script type="text/javascript" src='{% static "lib/DataTables/datatables.min.js" %}'></script>
    <script src="{% static 'lib/DataTables/DataTables-1.10.22/js/dataTables.bootstrap4.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/responsive-2.2.6/js/dataTables.responsive.min.js' %}"></script>
    <script src="{% static 'lib/DataTables/responsive-2.2.6 /js/responsive.bootstrap4.min.js' %}"></script>
{% endblock %}


{% block content %}
    <div class="card card-default">
    <div class="card-header">
        <h3 class="card-title">
            <i class="icon fas fa-search"></i>
            {{ title }}
        </h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <!--Table for category-->
        <table class="table" id="data">
            <thead>
            {% block columns %}
            {% endblock %}
            </thead>
            <tbody>

            {% block rows %}
            {% endblock %}
            </tbody>
        </table>
        <div class="card-footer">
            <button type="button" class="btn btn-primary btn-flat">
                <i class="fas fa-plus"></i> Agregar registro
            </button>
        </div>
        <!--/.Table for category-->
    </div>
    <!-- /.card-body -->
</div>
{% endblock  %}


{% block javascript %}
    <script type="application/javascript">
        $('#data').DataTable({
            responsive: true,
            autoWidth: false,
            "language": {
                url: '{% static "lib/DataTables/spanish.txt" %}'
            }
        });
    </script>
{% endblock %}

